<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }

        .error {
            color: red;
        }
    </style>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <div class="jumbotron">
            <form action="/register" method="post">
                <input id="user_name" name="user_name" />
                <input type="password" id="password" name="password" />
                <button type="submit">Register</button>
            </form>
            <% if (errorMessage) { %>
                <span class="error">
                    <%= errorMessage %>
                </span>
                <% } %>
                    <div>
                        <span>Already have an account? </span>
                        <a href="/">Login</a>
                    </div>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>