<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">GW YouTube</a>
  <ul class="navbar-nav mr-auto">
    <% if (user) { %>
      <form action="/logout" method="get">
        <li class="nav-item">
          <button type="submit">logout</button>
        </li>
      </form>
      <% } %>

  </ul>
</nav>